* {
  box-sizing: border-box;
}

html {
  background-color: #2e3e4e;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #30BCCF;
  text-decoration: none;
}

#wrapper {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 380px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  display: grid;
  grid-template-rows: 85% 1fr;
}

#wrapper #body, #wrapper #footer {
  padding: 15px;
  text-align: center;
}

#wrapper #body {
  display: grid;
}

#wrapper #body .content {
  position: relative;
}

#wrapper #body .content .iconHolder {
  width: 120px;
  height: 120px;
  left: 50%;
  margin-top: 20px;
  position: relative;
  transform: translate(-50%) rotate(0deg);
  background-color: aliceblue;
  border-radius: 50%;
}

#wrapper #body .content .iconHolder .icon {
  position: absolute;
  top: 0;
  left: 400;
  opacity: 0;
  width: 130px;
  transform: scale(0.4) rotate(90deg);
  transition: all 0.8s cubic-bezier(1, -0.23, 0.29, 1.35);
}

#wrapper #body .content .iconHolder .icon.active {
  opacity: 1;
  left: 0;
  transform: scale(1) rotate(0deg);
}

#wrapper #body .content .iconHolder .icon.toLeft {
  opacity: 0;
  left: -400;
  transform: scale(0.4) rotate(-90deg);
}

#wrapper #body .content .iconHolder .circles {
  transition: all 0.6s ease-in-out;
  fill: blue;
}

#wrapper #body .content .iconHolder .circles.rotate-90 {
  transform: rotate(90deg);
}

#wrapper #body .content .iconHolder .circles.rotate-180 {
  transform: rotate(180deg);
}

#wrapper #body .content .iconHolder .circles.rotate-270 {
  transform: rotate(270deg);
}

#wrapper #body .content .iconHolder .circles.rotate-360 {
  transform: rotate(360deg);
}

#wrapper #body .content .infoHolder {
  position: relative;
  margin-top: 20px;
}

#wrapper #body .content .infoHolder .info {
  right: -400px;
  opacity: 0;
  position: absolute;
  transition: all 0.8s cubic-bezier(1, 0, 0, 1.01);
  width: 100%;
}

#wrapper #body .content .infoHolder .info h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

#wrapper #body .content .infoHolder .info p {
  color: rgba(0, 0, 0, 0.4);
  line-height: 24px;
}

#wrapper #body .content .infoHolder .info.active {
  right: 0px;
  opacity: 1;
}

#wrapper #body .content .infoHolder .info.toLeft {
  right: 300px;
  opacity: 0;
}

#wrapper #footer {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  border-top: solid 1px #ededed;
}

#wrapper #footer #prevBtn {
  color: rgba(0, 0, 0, 0.6);
}

#wrapper #footer #nextBtn {
  overflow: hidden;
}

#wrapper #footer #nextBtn ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#wrapper #footer #nextBtn ul li {
  margin: 0;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

#wrapper #footer #nextBtn.finish ul li {
  margin-top: -20px;
}

#wrapper #footer a {
  text-transform: uppercase;
  padding: 5px 0;
  transition: all 0.3s ease;
  transform: scale(1);
}

#wrapper #footer a:active {
  transform: scale(0.9);
}

#wrapper #footer a.hide {
  transform: scale(0);
}
/*# sourceMappingURL=styles.css.map */